@model CNTS.Models.k_cnts_01_003_a

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layoutgmx.cshtml";
}

<h2>Details</h2>

<div>
    <h4>k_cnts_01_003_a</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fe_registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fe_registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fe_envio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fe_envio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nb_archivo_informe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nb_archivo_informe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esta_activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esta_activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_establecimiento.uuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_establecimiento.uuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_periodo.cl_periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_periodo.cl_periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.k_secc_a_tabla_01.id_cnts_01_003_a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.k_secc_a_tabla_01.id_cnts_01_003_a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.k_secc_a_tabla_02.id_cnts_01_003_a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.k_secc_a_tabla_02.id_cnts_01_003_a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.k_secc_a_tabla_03.id_cnts_01_003_a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.k_secc_a_tabla_03.id_cnts_01_003_a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.k_secc_a_tabla_04.id_cnts_01_003_a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.k_secc_a_tabla_04.id_cnts_01_003_a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.k_secc_a_tabla_05.id_cnts_01_003_a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.k_secc_a_tabla_05.id_cnts_01_003_a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.k_secc_a_tabla_06.id_cnts_01_003_a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.k_secc_a_tabla_06.id_cnts_01_003_a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.k_secc_a_tabla_07.id_cnts_01_003_a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.k_secc_a_tabla_07.id_cnts_01_003_a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.k_secc_a_tabla_08.id_cnts_01_003_a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.k_secc_a_tabla_08.id_cnts_01_003_a)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_cnts_01_003_a }) |
    @Html.ActionLink("Back to List", "Index")
</p>
